<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create service</title>
</head>
<body>

    <h1>Creating your service has never been so easy:</h1>
    <img th:src="@{/images/bus.png}" width="320" height="250"/>

    <form class="group" th:method="POST" th:action="@{/services/createService?serviceType=bus}" th:object="${service}">

		<p>Enter initial information about your service:</p>

        <label for="serviceName">Name:</label>
		<br>
        <input type="text" th:field="*{serviceName}" id="serviceName"/>
        <br>

        <label for="serviceAddress">Address:</label>
		<br>
        <input type="text" th:field="*{serviceAddress}" id="serviceAddress"/>
        <br>

        <label for="phoneNumber">Phone number:</label>
		<br>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
        <br>

        <label for="maxCountCarsInService">Count cars in service (MAX):</label>
		<br>
        <input type="text" th:field="*{maxCountCarsInService}" id="maxCountCarsInService"/>
        <br>

        <label for="timeCarInService">Time car in service:</label>
		<br>
        <input type="text" th:field="*{timeCarInService}" id="timeCarInService"/>
        <br>

        <label for="maximumNumberOfSeats">Maximum number of seats:</label>
        <br>
        <input type="text" th:field="*{maximumNumberOfSeats}" id="maximumNumberOfSeats"/>
        <br>

        <label for="maximumWheelsDiameter">Maximum wheels diameter:</label>
        <br>
        <input type="text" th:field="*{maximumWheelsDiameter}" id="maximumWheelsDiameter"/>
        <br>

        <p>Enter specific option for your service:</p>

        <input type="checkbox" th:field="*{possibilityOfTestingAnEmergencyExit}" id="possibilityOfTestingAnEmergencyExit"/>
        <label for="possibilityOfTestingAnEmergencyExit">Possibility of testing an emergency exit</label>
        <br>

        <input type="checkbox" th:field="*{possibilityOfTestingSeats}" id="possibilityOfTestingSeats"/>
        <label for="possibilityOfTestingSeats">Possibility of testing seats</label>
        <br>

        <input type="checkbox" th:field="*{possibilityOfRepairingTrolleybuses}" id="possibilityOfRepairingTrolleybuses"/>
        <label for="possibilityOfRepairingTrolleybuses">Possibility of repairing trolleybuses</label>
        <br>

        <input type="checkbox" th:field="*{possibilityOfRepairAtPlaceOfBreakdown}" id="possibilityOfRepairAtPlaceOfBreakdown"/>
        <label for="possibilityOfRepairAtPlaceOfBreakdown">Possibility of repair at place of breakdown</label>
        <br>

        <input type="checkbox" th:field="*{possibilityToCallTug}" id="possibilityToCallTug"/>
        <label for="possibilityToCallTug">Possibility to call tug</label>
        <br>

		<p>The last step to create your service:</p>

        <input type="submit" value="Create your service !!!">

    </form>

</body>
</html>